body {
  margin: 0;
}

pre {
  margin: 0;
  font-family: inherit;
}

.active-line {
  color: red;
}

search-tree {
  display: flex;
}

search-tree-programs {
  display: flex;
  flex-grow: 1;
}

search-tree-program {
  flex-grow: 1;
  padding: 1em;
}

search-tree-viz {
  flex-grow: 2;
  padding: 1em 0;
}

search-tree-viz svg {
  margin: 0 auto;
  width: 98%;
}
